.parent {
    background-color: hsla(200, 100%, 20%);
    height: 100vh;

}

.child {
    background-color: red;
    position:relative;
    width: 50%;
    height: same-as-width;

}

.parent:hover .child {
    /* transform: translate(50%,50%); */
    animation: left-to-right .5s linear forwards infinite;
}

@keyframes left-to-right {
    0% {
        transform: scale(1);
    }

    25%{
        /* transform:; */
    }
    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}